.o-tooltip-trigger {
  display: inline-block;
  outline: none;
}

.o-tooltip {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  opacity: 1;
}

.o-tooltip[data-interactive='true'] {
  pointer-events: auto;
}
