.o-tooltip-trigger {
  display: inline-block;
  outline: none;
  cursor: pointer;
}

.o-tooltip-trigger:disabled,
.o-tooltip-trigger[aria-disabled='true'] {
  cursor: not-allowed;
}

.o-tooltip {
  position: fixed;
  z-index: var(--z-tooltip);
  pointer-events: none;
  opacity: 1;
}

.o-tooltip[data-interactive='true'] {
  pointer-events: auto;
}
